body{font-family:segoe UI,sans-serif;margin:auto;color:#2a2b6e}
.text-align-right{text-align:right;}
.menu{display:inline;list-style:none;}
.bt{color:#2a2b6e;padding:15px;text-decoration:none;font-variant:small-caps;font-size:20px;}
.title{background-color:#771d2d;color:#fff;}
img{float:left;padding:40px;}
h3{color:#771d2d}
div{width:50%;margin:auto;}
header{padding:25px;}